<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @p.each do |i|%>
    <h1><%= i.name%></h1>
    <h1><%=i.content%></h1>
    <%end%>

    <%= link_to "Real", realisateur_path%>
    <%= link_to "Contact", contact_path%>
  </body>
</html>
