<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>les realisateurs</h1>
    <%= link_to "HOME", root_path%>
    <%= link_to "Contact", contact_path%>
  </body>
</html>
